# Folders
archive
output

# Binary files
*.exe
*.obj
*.odb
*.com
*.rec
*.prt
*.sim
*.ipm
*.zip
*.jnl
*.mod
*.msg
*.dat
*.pes
*.pmg
*.sta
*.log
*.par
*.sml
*.pyc
*.stt
*.res
*.mdl

# Unnecessary text files
*.txt